@using PagedList.Mvc;
@model Casanueva.Models.PropertiesListViewModel
@{

    if (Model != null & Model.ListaDePropiedades.Count > 0)
    {
        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 pr-30 padding-top-20 properties-page user-properties">
                        <div class="section">
                            <div id="list-type" class="proerty-th-list">
                                <!-- CONTENIDO DE CADA PROPIEDAD -->
                                @foreach (Casanueva.Models.Propiedades item in Model.ListaDePropiedades)
                                {
                                    Html.RenderAction("LoadPropertyAdmin", "PropertyItem", new { prop = item, esAdmin = true, page = ViewBag.page, pageSize = ViewBag.psize });
                                }
                            </div>
                        </div>
                        <div class="section">
                            <div class="pull-right">
                                <div class="pagination">
                                    @Html.PagedListPager(Model.ListaDePropiedades, page => Url.Action("FiltrarPropiedadesAdministracion", "PropertiesList", new { page, pageSize = ViewBag.psize }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "list-type" }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        Html.RenderPartial("~/Views/Sublayouts/PropertiesList/PropertiesNotFoundSection.cshtml");
    }

    <script type="text/javascript">
        $(document).ready(function () {

        var filtrosUsados = @Html.Raw(Json.Encode(@Session["FiltrosUsados"]));
        if(filtrosUsados != null)
        {
            var objects = JSON.parse(filtrosUsados);
                $("#SearchString").val(objects.searchTextParam);
                $("#CodigoPropiedad").val(objects.codigoPropiedad);
                $("#ddlEstadoAviso").val(objects.idEstadoAviso);
                $("#ddlTipoAviso").val(objects.idTipoAviso);

                if(objects.esDestacado===true)
                {
                    $('#esDestacado').prop('checked', true);
                    $("#esDestacado").parent().closest('div').addClass('checked')
                }
        } 
});
    </script>
}