<!DOCTYPE html>
@{
    var modalId = Guid.NewGuid().ToString();

}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <Content/style.css>
        #rich-text-form-wrapper + #hiddencontent {
            display: none;
        }
        #rich-text-form-wrapper div {
            margin-bottom: 15px;
            overflow: hidden;
        }
        label, input, textarea {
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        }
        label {
            clear: left;
            float: left; 
            font-weight: 600;            
        }
        input, textarea {
            float: right;
            width: 60%;
        }
        input[type="button"] {
            background: #4CAF50;
            color: #fff;
            font-weight: 600;    
            margin: 0 auto; 
            border: 0;
            padding: 7px 22px;
            width: auto;
        }
    </Content/style.css>
</head>
<body>
<div id="rich-text-form-wrapper">
    <div>
        <label for="inputLinkText">Link Text</label>
        <input id="inputLinkText" type="text" placeholder="Add Link Text here" />
    </div>
    <div>
        <label for="inputTitleText">Title</label>
        <input id="inputTitleText" type="text" placeholder="Add Title here" />
    </div>
    <div>
        <label for="inputDescriptionText">Description</label>
        <textarea id="inputDescriptionText" placeholder="Add Description here"></textarea>
    </div>
    <div>
        <label for="inputButtonText">Button's Text</label>
        <input id="inputButtonText" type="text" value="Close" />
    </div>
    <input type="button" value="Submit" onclick="InsertContentModal();"/>
</div>
<div id="hiddencontent" class="hidden">
    <a href="javascript:;" id="inputModalLinkText" data-toggle="modal" data-target="#@modalId"></a>
    <div id="@modalId" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true" class="content-modal modal fade wp_success-pref-alert-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="inputModalTitleText" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="inputModalDescriptionText"></p>
                </div>
                <div class="ctrl_button-lockup modal-footer">
                    <button class="btn btn-primary ctrl-primary-button" type="submit" id="inputModalButtonText" data-dismiss="modal" ></button>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/jquery-2.1.3.min.js")


</body>
</html>
<script language="javascript" type="text/javascript">


	this.GetRadWindow = function ()
	{
		if (window.radWindow)
		{
			return window.radWindow;
		}

		if (window.frameElement && window.frameElement.radWindow)
		{
			return window.frameElement.radWindow;
		}

		return null;
	};

	this.InsertContentModal = function () {

	    $('#inputModalLinkText').html($('#inputLinkText').val());
	    $('#inputModalTitleText').html($('#inputTitleText').val());
	    $('#inputModalDescriptionText').html($('#inputDescriptionText').val());
	    $('#inputModalButtonText').html($('#inputButtonText').val());

		//Copying html to  callback  function.
        var param = jQuery('#hiddencontent').html();

		var args = new Object();
		args.contentModal = param;

        var radWindow = GetRadWindow();
        radWindow.close(args);

	};


</script>
