<!--TESTIMONIALS -->
<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Nuestros clientes dijeron</h2>
            </div>
        </div>

        <div class="row">
            <div class="row testimonial">
                <div class="col-md-12">
                    <div id="testimonial-slider">
                        <div class="item">
                            <div class="client-text">
                                <p>Estabamos buscando para comprar y CASANUEVA nos asesoró excelentemente!</p>
                                <h4><strong>Nadia, </strong><i>Compró Departamento</i></h4>
                            </div>
                            <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                                <img src="../images/client-face1.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Buscamos un local para nuestro emprendimiento "RAZONES BOUTIQUE"!!</p>
                                <h4><strong>Fernando, </strong><i>Alquiló Local</i></h4>
                            </div>
                            <div class="client-face">
                                <img src="../images/client-face2.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Nos fuimos a vivir juntos, nuestro sueño hecho realidad.</p>
                                <h4><strong>Hugo, </strong><i>Alquiló casa</i></h4>
                            </div>
                            <div class="client-face">
                                <img src="../images/client-face3.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Llamamos para consultar y nos asesoraron muy bien</p>
                                <h4><strong>Rodrigo, </strong><i>Recibió Asesoramiento</i></h4>
                            </div>
                            <div class="client-face">
                                <img src="../images/client-face4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
