<script>
    $(function () {
        $("#SendEmailForNewsLetter").click(function () {
            SendEmailForNewsLetter();
        });
    });
</script>
<!-- Footer area-->
<div class="footer-area">

    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Sobre nosotros</h4>
                        <div class="footer-title-line"></div>
                        <img src="../images/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                        <img src="../images/cucicba_logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Contáctenos</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-map-marker strong"> </i>Achaval 486 - Caballito - CABA</li>
                            <li><i class="pe-7s-mail strong"> </i>casanuevaprop@gmail.com</li>
                            <li><i class="pe-7s-call strong"> </i>11-4431-7811 / 4433-6600</li>
                            <li></br></li>
                            <p> Estamos dedicados a la comercialización  de inmuebles, búsquedas personalizadas, Administración de alquileres, y asesoramiento personal, acompañando a nuestros clientes hasta la realización con éxito de sus objetivos propuestos.</p>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Accesos rápidos</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li>@Html.ActionLink("Propiedades", "Index", "PropertiesList")</li>
                            <li>@Html.ActionLink("Contactanos", "Index", "Contact")</li>
                            <li><a href="faq.html">Preguntas frecuentes</a>  </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Recibir Novedades</h4>
                        <div class="footer-title-line"></div>
                        <p>Registre su dirección de correo para recibir las novedades y/o actualizaciones.</p>
                        <div class="input-group">
                            <input id="txtFromEmail" class="form-control" type="text" placeholder="E-mail ... ">
                            <span class="input-group-btn">
                                <button id="SendEmailForNewsLetter" class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    @Html.Partial("~/Views/Sublayouts/Modals/ModalMailing.cshtml")
    @Html.Partial("~/Views/Sublayouts/Modals/ModalConfirmDelete.cshtml")
</div>