.property-label {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 0;
    z-index: 3;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400;
}

.property-label-bg {
    display: inline-block;
    background-color: #fb6a19;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    line-height: 19px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.property-status {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400;
}

.property-arrow {
    position: absolute;
    content: '';
    display: block;
    left: 100%;
    top: 0;
    border-top: 10px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 7px solid;
    border-left-color: #fb6a19;
    border-right-color: #fb6a19;
}

.property-featured {
    box-sizing: border-box;
    color: rgb(120, 120, 120);
    display: block;
    font-family: Poppins;
    font-size: 0px;
    font-weight: 300;
    height: 23.6667px;
    left: 0px;
    line-height: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-size-adjust: 100%;
    top: 15px;
    user-select: none;
    width: 81.2083px;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.label-item {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Poppins;
    font-size: 0px;
    font-weight: 400;
    height: 18.6667px;
    line-height: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-size-adjust: 100%;
    user-select: none;
    width: 81.2083px;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.status-item {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Poppins;
    font-size: 0px;
    font-weight: 400;
    height: 18.6667px;
    line-height: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-size-adjust: 100%;
    user-select: none;
    width: 61.6042px;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.property-status-bg {
    background-color: rgb(251, 106, 25);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    height: 18.6667px;
    line-height: 19px;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    text-size-adjust: 100%;
    user-select: none;
    width: 61.6042px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*tag estado*/
.properties-status-tag {
	background-attachment:scroll;
	background-clip:border-box;
	background-color:rgb(0, 187, 170);
	background-image:none;
	background-origin:padding-box;
	background-position-x:0%;
	background-position-y:0%;
	background-size:auto;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	direction:ltr;
	display:block;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:400;
	height:25px;
	line-height:24px;
	padding-bottom:25px;
	padding-left:15px;
	padding-right:15px;
	position:absolute;
	right:-5px;
	text-size-adjust:100%;
	text-transform:uppercase;
	top:0px;
	visibility:visible;
	width:119.375px;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
