
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>uploadFile</title>
</head>
<body>
    <div> 

        <form action="UploadFilePost" name="formulario" id="formulario" method="POST" enctype="multipart/form-data" >

            <input type="file" id="fileSubirArchivo" name="fileSubirArchivo" />
            <input type="submit" id="enviarForm" name="enviarForm" />

        </form>
    </div>
</body>
</html>
