<div class="modal fade" id="confirmationDeleteModal" role="dialog">
    <div class="modal-dialog">
        <input id="idPropiedad" type="hidden" />

        <!-- Modal content-->
        <div class="modal-content">
            <div id="modalHeaderText" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">[TituloModal]</h4>
            </div>
            <div id="modalBodyText" class="modal-body">
                <h5 id="modalBodyTextTituloProp"class="modal-title">[TituloPropiedad]</h5>
                <p id="modalBodyTextComentarioProp">[Comentarios]</p>
                <p>¿Está seguro de querer eliminar la propiedad?</p>
            </div>
            <div class="modal-footer">
                <button id="btnConfirmationModalAceptar" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<script>
    $("#btnConfirmationModalAceptar").click(function () {
        //alert('le dio ok');
        var idPropiedad = $("#idPropiedad").val();

        if (idPropiedad !== null) {
            $.ajax({
                type: "POST",
                async: true,
                dataType: 'json',
                url: '@Url.Action("DeleteProperty", "Manage")',
                data: { idPropiedad: idPropiedad },
                complete: function (result) {
                    $("#confirmationDeleteModal").modal('hide');
                }
                });
        }
    });
</script>